#household-page {
  min-height: 70dvh;
  min-width: 80dvw;
  max-width: 99dvw;

/household/2/

  @media (max-width: 600px),
  (max-height: 600px) {
    grid-template-columns: 1fr;
  }

  >details {
    min-width: 0;

  }

  details>summary {
    >h3 {
      display: inline;
    }
  }

  >details>summary {
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: var(--space-sm);
    font-size: 1.75rem;

    @media (max-width: 600px),
    (max-height: 600px) {
      font-size: 1.5rem;
    }
  }
}
