.inputWithButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;


  input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }

}

.call-to-action {
  margin: var(--space-md);
  padding: var(--space-lg) var(--space-xl);

  font-size: 1.375rem;

  @media (max-width: 600px),
  (max-height: 600px) {
    font-size: 1.2rem;
  }
}
