body {
  margin: 0;
  overflow-y: auto;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Helvetica", sans-serif;

  width: 100dvw;
  overflow-x: clip;
}


main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;

  view-transition-name: slide;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 2rem;
  font-style: italic;
  font-size: var(--font-size-xs);

  color: var(--color-secondary);
}