#modal {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  background: var(--color-surface);
  box-shadow: var(--shadow-sm);
  padding: var(--space-lg);
  margin: auto;

  @media (max-width: 600px),
  (max-height: 600px) {
    width: 95dvw;
  }

  h2 {
    margin-bottom: var(--space-lg);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }

  &:empty {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
}

/* Disable interaction behind popover */
body:has(:popover-open)> :not([popover]) {
  pointer-events: none;
}

/* Re-enable inside the popover itself */
[popover] {
  pointer-events: auto;
}