<article class="chore">
  <h2 hx-get="/chore/details" hx-vals='{"label":"{{label}}" }' hx-target="closest .chore" hx-swap="outerHTML"
    hx-target="#chore-info">{{label}}</h2>
  <p>Last done {{timeAgo}} ago</p>
  <h3>You've done it {{count}} Times</h3>

  <footer>
    <form hx-post="/chore/do" hx-target="closest .chore" hx-swap="outerHTML">
      <input type="hidden" id="label" Value="{{label}}" name="label" />
      <button type="submit" class="small">I did it!</button>
    </form>
  </footer>
</article>