<article id="{{htmlId}}" style="order: {{order}}" {% if oobSwap %}hx-swap-oob="outerHTML:#{{oobSwapId?}}" {%end%}
  class="chore" hx-get="chore/edit" hx-vals='{"label":"{{label}}" }' hx-target="#modal" hx-swap="outerHTML"
  hx-trigger="click[!event.target.closest('form')]">
  <h3>{{label}}</h3>
  <footer>
    <div class="badges">
      {{..badges}}
    </div>
    <form class="do small" hx-post="chore/do" hx-target="closest .chore" hx-swap="outerHTML">
      <input type="hidden" id="label" Value="{{label}}" name="label">
      <button type="submit">✓</button>
    </form>
  </footer>
</article>