<div id="edit-household">
  <form hx-post="">
    <label for="name">Name: </label>
    <input required type="text" id="name" name="name" value="{{name}}" placeholder="My household">
    <button type="submit">Update</button>
  </form>

  <label>
    <input type="checkbox" hx-post="enable_shopping_list" hx-trigger="change" name="enabled" hx-target="#edit-household"
      {% if shoppingListEnabled %}checked{% end %}>
    Enable shopping list
  </label>
  <div class="members">
    <h3>Members</h3>
    <ul>
      {{..members}}
    </ul>
  </div>
  <form hx-post="invite">
    <label for="name">Email: </label>
    <input required type="email" id="email" name="email" placeholder="friend@chor.bar">
    <button type="submit">Invite</button>
  </form>
</div>
