<div id="edit-household">
  <form hx-post="">
    <label for="name">Name: </label>
    <input required type="text" id="name" name="name" value="{{name}}" placeholder="My household">
    <button type="submit">Update</button>
  </form>

  <label>
    <input type="checkbox" hx-post="enable_shopping_list" hx-trigger="change" name="enabled" hx-target="#edit-household"
      {% if shoppingListEnabled %}checked{% end %}>
    Enable shopping list
  </label>
  <div class="members">
    <h3>Members</h3>
    <ul>
      {{..members}}
    </ul>
  </div>

  <form hx-post="invite">
    <label for="name">Email: </label>
    <input required type="email" id="email" name="email" placeholder="friend@chor.bar">
    <button type="submit">Invite</button>
  </form>

  <div class="ical-section">
    <h4>Calendar integration / Ical link:</h4>
    <form hx-post="ical/generate">
      {% if hasIcalToken %}
      <code>{{icalUrl?}}</code>
      {% end %}
      <button type="submit">
        {% if hasIcalToken %}
        Regenerate ical link
        {% else %}
        Generate ical link
        {% end %}
      </button>
    </form>
  </div>
  <a href="export.json" download>Download household data (JSON)</a>

  <form hx-post="delete" hx-confirm="Are you sure you want to delete this household? This cannot be undone.">
    <button type="submit">Delete household</button>
  </form>
</div>
