<nav>
  <form id="new-chore" hx-post="chore/add" hx-target="#chores" hx-swap="afterbegin"
    hx-on::after-request="if(event.detail.successful) this.reset()">
    <input required type="text" id="label" name="label" placeholder="What do you want to do?" />
    <button type="submit">Create</button>
  </form>
  <span>
    <a class="btn" href="/household/" hx-boost="true" hx-history="true" hx-swap="innerHTML" hx-target="#modal">
      {{name}} ⌄
    </a>
  </span>
</nav>
<div id="chores">
  {{..chores}}
</div>