<div id="household-page">
  {% if shoppingListEnabled %}
  <details open>
    <summary>
      Shopping List
    </summary>
    <div hx-trigger="revealed" hx-get="shopping_list" hx-swap="outerHTML">
    </div>
  </details>
  {% end %}
  {% if todoListEnabled %}
  <details open>
    <summary>
      Todo List
    </summary>
    <div hx-trigger="revealed" hx-get="todo" hx-swap="outerHTML">
    </div>
  </details>
  {% end %}
  <details open>
    <summary>
      Chores
    </summary>
    <form id="new-chore" hx-post="chore/add" hx-target="#chores" hx-swap="afterbegin"
      hx-on::after-request="if(event.detail.successful) this.reset()">
      <input required type="text" id="label" name="label" placeholder="I.e clean toilets"
        hx-trigger="keyup[key=='Enter']">
      <button type="submit">Create</button>
    </form>
    <div id="chores">
      {{..chores}}
    </div>
  </details>
</div>