<h1> Welcome to <em>Chor.bar</em></h1>
<p>
  A cool little application, for keeping track of your household chores -
  How often do you want to clean the oven? When did you do it last?
</p>

<a class="btn call-to-action" href="/households/" hx-boost="true">
  Get to the <em>Chor.bar</em>
</a>
<h2>Chores people are doing</h2>
<div id="chores">
  <article class="chore">
    <h2>
      Clean the bathroom
    </h2>
    <p class="goal">
      Every 2 weeks
      - In 3 days!
    </p>
    <p>You've done it 9 times - last 11 days ago</p>
    <footer>
      <button class="small">I did it!</button>
    </footer>
  </article>

  <article class="chore">
    <h2>
      Meditate
    </h2>
    <p class="goal">
      Every day
      - In 3 hours!
    </p>
    <p>You've done it 365 times - last 21 hours ago</p>
    <footer>
      <button class="small">I did it!</button>
    </footer>
  </article>
  <article class="chore">
    <h2>
      Clean windows
    </h2>
    <p class="goal">
      Every 2 months
      - In 11 days!
    </p>
    <p>You've done it 3 times - last 40 days</p>
    <footer>
      <button class="small">I did it!</button>
    </footer>
  </article>
</div>