<div id="menu">
  <h2> Select household </h2>

  <div id="householdSelector">
    {{..households}}

    <span class="createNew">
      <a class="btn" href="/household/new" hx-boost="true">
        Create new
      </a>
    </span>
  </div>

  <a class="btn small outline" href="/settings/" hx-boost="true">
    Settings
  </a>
  <a class="btn small outline" href="/auth/logout" hx-boost="true">
    Log out
    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4" />
      <polyline points="16 17 21 12 16 7" />
      <line x1="21" y1="12" x2="9" y2="12" />
    </svg>
  </a>
</div>