<li class="category {% unless hasLabel %}no-sort{% end %}">
  <input type='hidden' name='category' value='{{label?}}'>
  <form hx-post="shopping_list/set-category" hx-target="#shopping-list" hx-swap="outerHTML"
    hx-trigger="add, update consume">
    <details open>
      <summary>
        {% if hasLabel %}
        <span class="sortable-handle">
          {{label?}}
        </span>
        <button class="edit" hx-target="#modal" hx-get="shopping_list/edit-category" hx-vals='{"label":"{{label?}}" }'
          hx-trigger="click consume" tabindex="0" title="Edit" aria-label="Edit">
          ✏️</button>
        {% else %}
        Misc
        {% end %}
      </summary>
      <input type='hidden' name='category' value='{{label?}}'>
      <ol class="sortable" data-sortable-group="shopping-list">
        {{..openItems}}
        <li class="no-sort">
          <form class="new-item" hx-post="shopping_list/add" hx-target="closest li" hx-swap="beforebegin"
            hx-on::after-request="if(event.detail.successful) this.reset()">
            <button type="submit">+</button>
            <input type='hidden' name='category' value='{{label?}}'>
            <input required type="text" name="label" placeholder="Add item" hx-trigger="keyup[key=='Enter']">
          </form>
        </li>
      </ol>
      <ol class="checked">
        {{..checkedItems}}
      </ol>
    </details>
  </form>
</li>